// 远程操作 ---- 远程调试 ---- 导播配置
// 参数设置
.bro-seat{
  .el-select{
    margin-right: 30px;
  }
}
.bro-title{
  display: inline-block;
  width: 110px;
  font-size: 14px;
  font-weight: 600;
  color: #333333;
}
.bro-analysis{
  overflow: hidden;
}
.bro-check-group{
  display: inline-block;
}
.bro-right{
  text-align: right;
}
.bro-table{
  width: 100%;
  .current-row td{
    color: #fff;
    background: #409EFF !important;
  }
}

// 跟踪调式
.bro-main{
  overflow: hidden;
  border: 1px solid #e1e7f0;
  .bro-canvas{
    position: relative;
    z-index: 1;
    float: left;
    // background: #ddd;
  }
}
.bro-aside{
  width: calc(100% - 740px);
  float: right;
}
.bro-operation{
  height: 276px;
  border-top: 1px solid #e1e7f0;
  border-bottom: 1px solid #e1e7f0;
}
.h72{
  display: flex;
  height: 72px;
  align-items: center;
}
.center button{
  padding: 5px 20px !important;
  line-height: 15px !important;
  font-size: 18px;
  font-weight: 900;
}
/* 云台控制区 */
.bro-disk{
  position: relative;
  width: 110px;
  height: 110px;
  margin: 0 auto;
  border-radius: 110px;
  overflow: hidden;
  &:after{
    position: absolute;
    top: 51px;
    left: -2px;
    z-index: 5;
    transform: rotate(45deg);
    width: 112px;
    height: 9px;
    content: '';
    background: #fff;
  }
  &:before{
    position: absolute;
    top: 51px;
    left: -2px;
    z-index: 5;
    transform: rotate(135deg);
    width: 112px;
    height: 9px;
    content: '';
    background: #fff;
  }
  p{
    position: absolute;
    top: 50%;
    z-index: 3;
    margin: 0;
    background: #fff;
  }
  .bro-circle{
    left: 50%;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    border-radius: 50px;
    border: 1px solid #e1e7f0;
  }
}
.bro-sector{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:0;
  height:0;
  border-radius:55px;
  border-width:55px;
  border-style:solid;
  overflow: hidden;
  cursor:pointer;
  opacity: 0.5;
  border-color:#fafafa;
}
.bro-retate{
  width: 110px;
  height: 110px;
  margin-left: -1px;
  transform: rotate(45deg);
}
.bro-sector-fn{
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #e1e7f0;
  &:after{
    position: absolute;
    z-index: 4;
    width: 0;
    height: 0;
    content: '';
    border-width: 10px;
    border-style: solid;
    transform: rotate(45deg);
  }
}
.bro-sector-t{
  left: 0;
  &:after{
    margin-top: 12px;
    margin-left: 12px;
    border-color: transparent #b1b6bd transparent transparent;
  }
  &:hover:after{
    border-color: transparent #65c13e transparent transparent;
  }
}
.bro-sector-r{
  right: 0;
  &:after{
    margin-top: 12px;
    margin-left: 14px;
    border-color: transparent transparent #b1b6bd transparent;
  }
  &:hover:after{
    border-color: transparent transparent #65c13e transparent;
  }
}
.bro-sector-b{
  bottom: 0;
  right: 0;
  &:after{
    margin-top: 14px;
    margin-left: 14px;
    border-color: transparent transparent transparent #b1b6bd;
  }
  &:hover:after{
    border-color: transparent transparent transparent #65c13e;
  }
}
.bro-sector-l{
  bottom: 0;
  &:after{
    margin-top: 14px;
    margin-left: 12px;
    border-color:#b1b6bd transparent transparent transparent;
  }
  &:hover:after{
    border-color:#65c13e transparent transparent transparent;
  }
}
.a{
  width: 109px;
  height: 109px;
  border: 1px solid #e1e7f0;
  border-radius: 100%;
}
/* 参数更新 弹窗 */
.bro-dialog-par{
  overflow: hidden;
  .bro-dialog-parameter input{
    width: 100px;
  }
}
.bro-dialog-parameter{
  width: calc(100% / 3);
  float: left;
  margin-bottom: 10px;
  .w100 input{
    width: 100px;
  }
  .bro-dialog-label{
    display: inline-block;
    width: 130px;
    margin-right: 20px;
    text-align: right;
  }
}
video{
  position: absolute;
  top: 16px;
  left: 16px;
  width: 740px;
  height: 420px;
  border: 1px solid red;
  z-index: 0;
}
@media screen and (max-width: 1366px){
  .form-container {
    width: 100%;
    padding: 0;
  } 
}
