@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import './btn.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: PingFang SC, Microsoft YaHei;
}
//  使用 rem
html{font-size:62.5%;}
body{font-size:12px;font-size:1.2rem ;}
p{font-size:14px;font-size:1.4rem;}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.no-padding {
  padding: 0px !important;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}
.hidden{
  overflow:hidden;
}
.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: block;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

code {
  background: #eef1f6;
  padding: 15px 16px;
  margin-bottom: 20px;
  display: block;
  line-height: 36px;
  font-size: 15px;

  a {
    color: #337ab7;
    cursor: pointer;

    &:hover {
      color: rgb(32, 160, 255);
    }
  }
}

span.view-detail{
  color: #409EFF;
}
span.view-detail:hover{
  text-decoration: underline;
  cursor: pointer;
}

.warn-content {
  background: rgba(66, 185, 131, .1);
  border-radius: 2px;
  padding: 16px;
  padding: 1rem;
  line-height: 1.6rem;
  word-spacing: .05rem;

  a {
    color: #42b983;
    font-weight: 600;
  }
}

//main-container全局样式
.app-container {
  padding: 20px;
}

.components-container {
  margin: 30px 50px;
  position: relative;
}

.pagination-container {
  margin-top: 30px;
}

.text-center {
  text-align: center
}

.sub-navbar {
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  transition: 600ms ease position;
  background: linear-gradient(90deg, rgba(32, 182, 249, 1) 0%, rgba(32, 182, 249, 1) 0%, rgba(33, 120, 241, 1) 100%, rgba(33, 120, 241, 1) 100%);

  .subtitle {
    font-size: 20px;
    color: #fff;
  }

  &.draft {
    background: #d0d0d0;
  }

  &.deleted {
    background: #d0d0d0;
  }
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;

  &:hover {
    color: rgb(32, 160, 255);
  }
}

.filter-container {
  padding-bottom: 10px;

  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
    width: 200px;
  }
}

//refine vue-multiselect plugin
.multiselect {
  line-height: 16px;
}

.multiselect--active {
  z-index: 1000 !important;
}

//element 样式覆盖
.el-input{
  width: auto;
}

//输入框样式
.el-input--medium .el-input__inner{
  width: 200px;
}
.el-range-editor--medium.el-input__inner{
  width: 409px;
}

//文本框输入样式
.input-textarea{
  width: 500px;
}

//常用的样式定义
.clearfix{zoom:1;}
.clearfix:after{clear:both;content:"";display:block;}
.mb20{
  margin-bottom: 20px;
}
.mr5{
  margin-right: 5px;
}
.mr10{
  margin-right: 10px;
}
.mr50{
  margin-right: 50px;
}
.mt10{
  margin-top: 10px;
}
.mt30{
  margin-top: 30px;
}
.ml10{
  margin-left: 10px;
}
.ml5{
  margin-left: 5px;
}
.mt13{
  margin-top: 13px;
}
.mt20{
  margin-top: 20px;
}
.pl20{
  padding-left: 20px;
}
.w200{
  width: 200;
}
.fw600{
  font-weight: 600;
}
.center{
  text-align: center
}
.el-button--default{
  color: #409EFF;
}
.el-button--danger{
  background-color: #fff;
  color: #f56c6c;
  border: 1px solid #dcdfe6;
}
.logo{
  width: 100%;
  height: 96px;
  overflow: hidden;
  padding-top: 26px;
  background: #1f2d3d;

  img{
    margin: 0 10px 0 13px;
    width: 40px;
  }

  span{
    vertical-align: text-bottom;
    font-size: 16px;
    text-transform: uppercase;
    display: inline-block;
    font-weight: 700;
    color: #1890ff;
    white-space: nowrap;
    margin-bottom: 10px;
  }
}

//表单页面使用的样式
.form-container{
  padding: 20px;
  width: 75%;
}
.total-count{
  font-size: 14px;
  color: #606266;
  line-height: 1;
  margin-bottom: 10px;
}
.select-border{
  border: 1px solid #e0e0e0;
  padding: 10px 20px;
}
.module-type{
  display: block;
}
.module-detail{
  display: block;
  margin-left: 20px;

  .role{
    width: 100px;
    display: inline-block;
  }
}
.separate{
  padding: 10px 0;
}
.separate:not(:last-child){
  border-bottom: 1px solid #f1f1f1;
}
// 弹窗中的样式
.el-dialog__header{
  border-bottom: 1px solid #eeeff0;
}
.el-dialog__footer{
  text-align: center;
}
.red{
  color: red;
}
.w-name{
  width: 110px;
  display: inline-block;
  text-align: right;
  vertical-align: middle;
  cursor: default;
}


// 详情页面样式
.detail-contiant{
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 14px;

  li{
    line-height: 40px;

    .left{
      width: 250px;
      display: inline-block;
      text-align: right;
      padding-right: 10px;
      font-weight: 600;
      color: #606266;
    }
    .right{
      display: inline-block;
      vertical-align: top;
      width: 55%;
    }
  }
}

// 分隔样式
.line-separate{
  display: block;
  font-size: 14px;
  font-weight: 600;
  color: #333333;
  border-bottom: 1px dashed #dcdcdc;
  position: relative;
  height: 10px;
  margin-bottom: 30px;
  
  .title{
    position: absolute;
    line-height: 20px;
    display: inline-block;
    background: #fff;
    padding-right: 10px;
  }
}

// 树状图倒三角的z-index
.el-tree-node__expand-icon{
  z-index: 2;
}

//.el-slider__runway{
//  background-color: #ffffff;
//}
//.el-slider__bar{
//  background-color: #ffffff;
//}
.down{
  z-index: 1;
}
.up{
  z-index: 2;
}
//.down .el-slider__bar{
//  background-color: orange;
//}
//.down .el-slider__runway{
//  background-color: red;
//}
//.up .el-slider__runway{
//  background-color: #ffffff;
//}
//.up .el-slider__bar{
//  background-color: green;
//}
.up>.el-slider__runway>.el-slider__bar{
  background-color: green;
}
.up>.el-slider__runway{
  background-color: transparent;
}
.down>.el-slider__runway>.el-slider__bar{
  background-color: orange;
}
.down>.el-slider__runway{
  background-color: red;
}
